<div cdkDropListGroup>
    <div class="example-container">
      <h2>To do</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="selectedParts"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <img mat-card-image class="example-box-drag" *ngFor="let item of selectedParts" cdkDrag src= {{item.image}} alt="item image">
      </div>
    </div>
  
 
     
      <div class="example-boundary example-list"
        cdkDropList
        [cdkDropListData]="done"
        (cdkDropListDropped)="drop($event)">
        <h2>Done</h2>
        <img mat-card-image class="example-box-drag" *ngFor="let item of done" cdkDrag src= {{item.image}} alt="item image">
      </div>
  </div>

<!-- 
<div class="example-boundary">
    <div class="example-box-drag" cdkDragBoundary=".example-boundary" cdkDrag>
      I can only be dragged within the dotted container
    </div>
  </div> -->

  <div>
    <button mat-raised-button color="primary" class = "buttonRight" (click)="goto();">Assemble</button>
    </div>